@charset "utf-8";

$pc: 1024px; // PC
$sp: 480px; // スマホ

@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}


@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}


header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: fixed;
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;

  .header-logo {
    flex-basis: 150px;

    img {
      width: 120px;
      height: auto;
    }
  }
  .topic-list{
       flex-basis: 700px;
       margin-top:30px;
      ul{
          list-style: none;
          display: flex;
          justify-content: space-between;
          li{
                 a{
                        color: #a88d49;
                        text-decoration: none;
                        text-align: center;
                 }

          }
      }
  }


  .preserve {
      flex-basis: 150px;
      padding: 13px 3%;
    input {
        
      width: 110px;
      height: 50px;
      background-color: rgb(206, 165, 64);
      font-size: 16px;
      color: white;
      border: none;
    }
  }
}

main {
  .top-image {
    background: url("image/top.jpeg");
    background-position: center;
    background-size: cover;
    height: 500px;
  }

  .wrapper {
    color: #a88d49;

    .news-section {
      background-color: hsl(180, 64%, 98%);
      padding-bottom: 30px;
      padding-top: 40px;

      .news-content {
        padding: 50px 30%;
      }

      h2,
      .subtitle {
        text-align: center;
       
      }
    }
    .store-section {
      //    background-color: hsl(180, 64%, 98%);
      padding-bottom: 30px;
      padding-top: 40px;

      .store-content {
        padding: 50px 30%;
      }

      h2,
      .subtitle {
        text-align: center;
        
      }
    }

    .menu-section {
      background-color: hsl(180, 64%, 98%);
      
      padding-top: 40px;

      h2,h3,
      .subtitle {
        text-align: center;
     
      }

      h3{
          font-size: 25px;
          margin-bottom:30px;
          margin-top:20px;  
          
      }

      .menu-content {
        padding: 40px 5%;
        //   background: url("image/menu-back.jpg");
        //   background-position: center;
        //   background-repeat: repeat;
        //   background-size: contain;
        //  z-index: -1;
        display: flex;
        justify-content: space-around;
         @include pc {
            flex-direction: row;
         }

         ;

         @include sp {
             flex-direction: column;
         }

         ;
      
        .menu-content1,
        .menu-content2,
        .menu-content3{
            padding: 10px 5%;
            margin-bottom:70px; 
              .menu-image {
                  margin: 30px auto;
                  text-align: center;

                  img {
                      margin: 0 auto;
                  }
              }
        }
      }
    }

    .instagram-section {
      
      padding-top: 40px;
      // background-color:rgb(255, 251, 252);

      h2,
      .subtitle {
        text-align: center;
       
      }
      .instagram-content {
       margin-left: 4%;
        padding: 40px 0;
         
      }
    }
  }
}

footer {
  .footer-wrapper {
    ul {
      list-style: none;
    }
      h2{
          font-size: 20px;
      }

    padding: 30px 10%;
    background-color: hsl(180, 64%, 98%);
    color: #a88d49;
    text-align: center;
  }
}
